version: 2
jobs:
  build:
    docker:
      - image: haskell:8.6.3
    steps:
      - checkout
      - restore_cache:
         keys:
           - dependency-{{ checksum "modular.cabal" }}
           - dependency
      - run: HSPEC_OPTIONS=--color cabal new-test
      - save_cache:
          key: dependency-{{ checksum "modular.cabal" }}
          paths:
            - "~/.cabal"
